body {
  font-family: 'Nanum', 'Courier New', Courier, monospace;
}

h1 {
  font-family: Workbench, Futura, Helvetica, sans-serif;
  font-size: 4em;
}

h2 {
  font-family: Workbench, Futura, Helvetica, sans-serif;
}