<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keywordify</title>
</head>
<body>
    <h1>Keywordify</h1>
    <h3>Resume/Job Description tech keyword checker</h3>
    <h1>Upload Job Description and Resume</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="job_description">Job Description (TXT):</label>
        <input type="file" name="job_description" id="job_description" required><br><br>
        <label for="resume">Resume (TXT):</label>
        <input type="file" name="resume" id="resume" required><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
