<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="static/K.png" />
    <title>Keywordify</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Silkscreen:wght@400;700&family=Workbench&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Keywordify</h1>
    <h3>Resume/Job Description tech keyword checker for software engineers</h3>
    <h4>by <a href="https://github.com/ngolebiewski" />Nick Golebiewski</a></h4>
    <hr />
    
    <h2>Upload Job Description and Resume</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="job_description">Job Description (TXT):</label>
      <input
        type="file"
        name="job_description"
        id="job_description"
        required
      /><br /><br />
      <label for="resume">Resume (TXT):</label>
      <input type="file" name="resume" id="resume" required /><br /><br />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
